{% extends 'base.html' %}
{% load favorites_by %}
{% load staticfiles %}
{% block menu %}
{% endblock %}
{% block content %}
{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}
<h1>Галерея!</h1>
{% csrf_token %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

    {% for photo in photos %}
    <div class="col mb-6">
        <div class="card mb-5" style="width: 18rem;">
            <img src="{{ photo.image.url }}" class="card-img-top" height="300" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{ photo.author }}</h5>
                <p class="card-text">{{ photo.signature }}</p>
                <p class="card-text"><small class="text-muted">{{ photo.created_at }}</small></p>
                <a href="{% url 'webapp:photo_view' photo.pk %}" class="btn btn-primary btn-block">Просмотр</a>
                {% if perms.webapp.change_photo or photo.author == request.user %}
                    <a href="{% url 'webapp:photo_update' photo.pk %}" class="btn btn-primary btn-block">Редактировать</a>
                {% endif %}
                {% if perms.webapp.delete_photo or photo.author == request.user %}
                    <a href="{% url 'webapp:photo_delete' photo.pk %}" class="btn btn-primary btn-block mb-2">Удалить</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <p>

                {% endif %}


            {{ photo.favorites_by }}
            {% with photo|favorites_by:user as favorites %}
                            <a class="btn btn-primary add btn-block" {% if favorites %}style="display: none"{% endif %} id="{{ photo.id }}" href="{% url 'api:add_favorites' photo.id %}">+</a>
                <a class="btn btn-primary remove btn-block " {% if not favorites %}style="display: none"{% endif %} id="{{ photo.id }}"
                   href="{% url 'api:remove_favorites' photo.id %}">-</a>
            {% endwith %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}