{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:photo_view' product.pk %}">Отмена</a></li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить фото {{ photo.pk }}?</h1>
    <form action="{% url "webapp:photo_delete" photo.pk %}" method="post">
        {% csrf_token %}
        <p><input class=" btn btn-outline-dark btn-sm mb-1 mr-2 " type="submit" value="Да"></p>
        <p><a class=" btn btn-outline-dark btn-sm mb-1 mr-2" href="{% url 'webapp:photo_view' photo.pk %}">Отмена</a></p>
    </form>
{% endblock %}
